@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("https://i.pinimg.com/originals/6b/82/40/6b8240db2e40fd0242e11e4d07a48f78.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-color:rgb(183, 20, 20);
    height: 100vh;
    background-blend-mode: multiply;
}
/*
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
